## Peer-graded Assignment: Build a Regression Model in Keras

### By: Jeeten Patel

#### Import Keras and Packages

In [3]:
import keras

from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical

from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.model_selection import train_test_split
from sklearn import metrics

import matplotlib.pyplot as plt
from keras.datasets import mnist

import pandas as pd
import numpy as np

In [4]:
# read the data
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [5]:
#Checking of size of rows & columns
concrete_data.shape

(1030, 9)

In [6]:
#Checking of missing values
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

#### Data is cleaned

In [7]:
concrete_data_columns = concrete_data.columns

# all columns except Strength
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] 
target = concrete_data['Strength']

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=42)
print(X_train.shape); print(X_test.shape)

(721, 8)
(309, 8)

In [11]:
n_cols = predictors.shape[1]
n_cols

8

### Building a Neural Network

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
model = regression_model()

pred= model.predict(X_test)
model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)
pred_train= model.predict(X_train)

print('The mean squared error between the predicted concrete strength and the actual concrete strength: ',metrics.mean_squared_error(y_test,pred))

The mean squared error between the predicted concrete strength and the actual concrete strength:  414890.907338953

# PART-A

#### Use the Keras library to build a neural network with the following:

One hidden layer of 10 nodes, and a ReLU activation function

Use the adam optimizer and the mean squared error as the loss function.

    1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

    2. Train the model on the training data using 50 epochs.

    3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

    4. Repeat steps 1 - 3, 50 times, i.e., create a list of 50 mean squared errors.

    5. Report the mean and the standard deviation of the mean squared errors.

#### Loop for 50 times

In [14]:
MSE_A=[]

for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30)
    model = regression_model()
    
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)

    pred= model.predict(X_test)
    MSE_A.append(metrics.mean_squared_error(y_test,pred))
    
    print("Test set Mean Squared Error for {} cycle:{}".format(i+1,metrics.mean_squared_error(pred,y_test)))

Test set Mean Squared Error for 1 cycle:172.24081738568992
Test set Mean Squared Error for 2 cycle:328.1008997294509
Test set Mean Squared Error for 3 cycle:698.8998096649999
Test set Mean Squared Error for 4 cycle:216.24255634068007
Test set Mean Squared Error for 5 cycle:168.19379266802636
Test set Mean Squared Error for 6 cycle:2669.396931815507
Test set Mean Squared Error for 7 cycle:194.82927165450621
Test set Mean Squared Error for 8 cycle:132.67156104429165
Test set Mean Squared Error for 9 cycle:120.6043704694637
Test set Mean Squared Error for 10 cycle:536.4855960931578
Test set Mean Squared Error for 11 cycle:215.25886846020867
Test set Mean Squared Error for 12 cycle:87.52271356444034
Test set Mean Squared Error for 13 cycle:1183.4301202464517
Test set Mean Squared Error for 14 cycle:467.18195018719916
Test set Mean Squared Error for 15 cycle:254.82245601189845
Test set Mean Squared Error for 16 cycle:902.5757068837061
Test set Mean Squared Error for 17 cycle:257.24977913816633
Test set Mean Squared Error for 18 cycle:137.3937899689729
Test set Mean Squared Error for 19 cycle:188.6356049323471
Test set Mean Squared Error for 20 cycle:150.49285738576066
Test set Mean Squared Error for 21 cycle:695.3469273008853
Test set Mean Squared Error for 22 cycle:551.0034062672765
Test set Mean Squared Error for 23 cycle:148.9521541357635
Test set Mean Squared Error for 24 cycle:1285.64812907798
Test set Mean Squared Error for 25 cycle:326.21063352502114
Test set Mean Squared Error for 26 cycle:212.4007525334204
Test set Mean Squared Error for 27 cycle:150.16808330154035
Test set Mean Squared Error for 28 cycle:2136.7248065474473
Test set Mean Squared Error for 29 cycle:124.40979259692276
Test set Mean Squared Error for 30 cycle:2357.4247437678596
Test set Mean Squared Error for 31 cycle:535.9944412377981
Test set Mean Squared Error for 32 cycle:2670.9659250708046
Test set Mean Squared Error for 33 cycle:343.36839154336815
Test set Mean Squared Error for 34 cycle:264.3210044509922
Test set Mean Squared Error for 35 cycle:123.88535508745389
Test set Mean Squared Error for 36 cycle:371.0574773023127
Test set Mean Squared Error for 37 cycle:117.29920264924641
Test set Mean Squared Error for 38 cycle:146.3232321963507
Test set Mean Squared Error for 39 cycle:140.02237830757252
Test set Mean Squared Error for 40 cycle:277.4085845487668
Test set Mean Squared Error for 41 cycle:323.1270542038435
Test set Mean Squared Error for 42 cycle:372.438582267707
Test set Mean Squared Error for 43 cycle:229.20374182225692
Test set Mean Squared Error for 44 cycle:779.4538685301602
Test set Mean Squared Error for 45 cycle:195.44081990223995
Test set Mean Squared Error for 46 cycle:368.85786724206787
Test set Mean Squared Error for 47 cycle:649.9127821083084
Test set Mean Squared Error for 48 cycle:166.5717106361287
Test set Mean Squared Error for 49 cycle:105.25399703119152
Test set Mean Squared Error for 50 cycle:222.15997748772577

In [15]:
print('The PART-A Mean squared error between the predicted concrete strength and the actual concrete strength: ',np.mean(MSE_A))
print('The PART-A Standard Deviation between the predicted concrete strength and the actual concrete strength: ',np.std(MSE_A))

The PART-A Mean squared error between the predicted concrete strength and the actual concrete strength:  509.4717055265067
The PART-A Standard Deviation between the predicted concrete strength and the actual concrete strength:  634.9594962128693

# PART-B

Normalize the data

- Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.
- How does the mean of the mean squared errors compare to that from Step A?

#### Normalizing the data

In [16]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()
n_cols = predictors_norm.shape[1]

In [17]:
MSE_B=[]

for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30)
    model = regression_model()
    
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)

    pred= model.predict(X_test)
    MSE_B.append(metrics.mean_squared_error(y_test,pred))
    
    print("Test set Mean Squared Error for {} cycle:{}".format(i+1,metrics.mean_squared_error(pred,y_test)))

Test set Mean Squared Error for 1 cycle:639.5176344630518
Test set Mean Squared Error for 2 cycle:495.5765084844628
Test set Mean Squared Error for 3 cycle:560.1270550085595
Test set Mean Squared Error for 4 cycle:664.204995307951
Test set Mean Squared Error for 5 cycle:718.8234548890288
Test set Mean Squared Error for 6 cycle:638.7773107231479
Test set Mean Squared Error for 7 cycle:782.9993164635968
Test set Mean Squared Error for 8 cycle:875.2151881425467
Test set Mean Squared Error for 9 cycle:596.8411470507028
Test set Mean Squared Error for 10 cycle:714.9797944590615
Test set Mean Squared Error for 11 cycle:560.383692023079
Test set Mean Squared Error for 12 cycle:712.4074455839227
Test set Mean Squared Error for 13 cycle:608.3506380077887
Test set Mean Squared Error for 14 cycle:622.3010988252621
Test set Mean Squared Error for 15 cycle:934.8314307898083
Test set Mean Squared Error for 16 cycle:564.9894599505873
Test set Mean Squared Error for 17 cycle:1088.253525560197
Test set Mean Squared Error for 18 cycle:572.4174058014269
Test set Mean Squared Error for 19 cycle:747.6024486768415
Test set Mean Squared Error for 20 cycle:744.3015639473093
Test set Mean Squared Error for 21 cycle:719.748407558549
Test set Mean Squared Error for 22 cycle:566.7572585758229
Test set Mean Squared Error for 23 cycle:678.1119305135894
Test set Mean Squared Error for 24 cycle:835.5763927164869
Test set Mean Squared Error for 25 cycle:483.717206026252
Test set Mean Squared Error for 26 cycle:438.72402034947913
Test set Mean Squared Error for 27 cycle:578.7314039173854
Test set Mean Squared Error for 28 cycle:533.9097626719737
Test set Mean Squared Error for 29 cycle:520.3689104304362
Test set Mean Squared Error for 30 cycle:573.6112891702178
Test set Mean Squared Error for 31 cycle:595.6926116436736
Test set Mean Squared Error for 32 cycle:814.9630056134528
Test set Mean Squared Error for 33 cycle:503.51834917891114
Test set Mean Squared Error for 34 cycle:550.6292004298388
Test set Mean Squared Error for 35 cycle:509.6674683547966
Test set Mean Squared Error for 36 cycle:634.9301729524585
Test set Mean Squared Error for 37 cycle:1101.0548196568539
Test set Mean Squared Error for 38 cycle:623.126456656157
Test set Mean Squared Error for 39 cycle:556.989149867084
Test set Mean Squared Error for 40 cycle:548.3292890126814
Test set Mean Squared Error for 41 cycle:723.3310265130106
Test set Mean Squared Error for 42 cycle:618.2692502029917
Test set Mean Squared Error for 43 cycle:560.1718497369536
Test set Mean Squared Error for 44 cycle:805.4308802650816
Test set Mean Squared Error for 45 cycle:721.768767328663
Test set Mean Squared Error for 46 cycle:1071.5329684463077
Test set Mean Squared Error for 47 cycle:591.1050498822711
Test set Mean Squared Error for 48 cycle:807.9754438516532
Test set Mean Squared Error for 49 cycle:504.42610945041037
Test set Mean Squared Error for 50 cycle:553.5820870284834

In [18]:
print('The PART-B Mean squared error between the predicted concrete strength and the actual concrete strength: ',np.mean(MSE_B))
print('The PART-B Standard Deviation between the predicted concrete strength and the actual concrete strength: ',np.std(MSE_B))

The PART-B Mean squared error between the predicted concrete strength and the actual concrete strength:  663.3730330432052
The PART-B Standard Deviation between the predicted concrete strength and the actual concrete strength:  152.86263719235288

In [19]:
print('The difference between the mean squared errors of Part B from Part A: ',(np.mean(MSE_B)-np.mean(MSE_A)))

The difference between the mean squared errors of Part B from Part A:  153.90132751669847

In [35]:
print('Standard deviation significantly got reduced, difference:',abs(np.std(MSE_B)-np.std(MSE_A)))

Standard deviation significantly got reduced, difference: 482.0968590205165

# PART-C

- Increate the number of epochs

- Repeat Part B but use 100 epochs this time for training.

- How does the mean of the mean squared errors compare to that from Step B?

In [21]:
MSE_C=[]

for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.30)
    model = regression_model()
    
    model.fit(X_train, y_train, validation_split=0.3, epochs=100, verbose=0)

    pred= model.predict(X_test)
    MSE_C.append(metrics.mean_squared_error(y_test,pred))
    
    print("Test set Mean Squared Error for {} cycle:{}".format(i+1,metrics.mean_squared_error(y_test,pred)))

Test set Mean Squared Error for 1 cycle:224.11587419662243
Test set Mean Squared Error for 2 cycle:240.1904144080587
Test set Mean Squared Error for 3 cycle:213.47725018533606
Test set Mean Squared Error for 4 cycle:261.50080049813477
Test set Mean Squared Error for 5 cycle:222.62283157789457
Test set Mean Squared Error for 6 cycle:211.12255105362345
Test set Mean Squared Error for 7 cycle:226.46994429596595
Test set Mean Squared Error for 8 cycle:184.7759203682003
Test set Mean Squared Error for 9 cycle:207.73126162433158
Test set Mean Squared Error for 10 cycle:172.40024281397197
Test set Mean Squared Error for 11 cycle:309.4243882972222
Test set Mean Squared Error for 12 cycle:223.52808965205114
Test set Mean Squared Error for 13 cycle:247.06959936978302
Test set Mean Squared Error for 14 cycle:201.66009611790707
Test set Mean Squared Error for 15 cycle:216.34425657511912
Test set Mean Squared Error for 16 cycle:210.1819763257348
Test set Mean Squared Error for 17 cycle:204.79810026585463
Test set Mean Squared Error for 18 cycle:256.879536196892
Test set Mean Squared Error for 19 cycle:293.9819878504221
Test set Mean Squared Error for 20 cycle:214.3063023469861
Test set Mean Squared Error for 21 cycle:342.6453062292413
Test set Mean Squared Error for 22 cycle:238.3206685086535
Test set Mean Squared Error for 23 cycle:207.26975551114563
Test set Mean Squared Error for 24 cycle:247.363719090573
Test set Mean Squared Error for 25 cycle:206.30443364451992
Test set Mean Squared Error for 26 cycle:212.60648968573224
Test set Mean Squared Error for 27 cycle:238.51491488685886
Test set Mean Squared Error for 28 cycle:226.8054725334935
Test set Mean Squared Error for 29 cycle:243.89901784057088
Test set Mean Squared Error for 30 cycle:199.55665764166565
Test set Mean Squared Error for 31 cycle:197.3455998032795
Test set Mean Squared Error for 32 cycle:256.6630587365782
Test set Mean Squared Error for 33 cycle:228.45495440699247
Test set Mean Squared Error for 34 cycle:191.52630761358182
Test set Mean Squared Error for 35 cycle:283.0657162237029
Test set Mean Squared Error for 36 cycle:192.21033102207312
Test set Mean Squared Error for 37 cycle:201.6941798458556
Test set Mean Squared Error for 38 cycle:179.95936254730458
Test set Mean Squared Error for 39 cycle:206.73611857546817
Test set Mean Squared Error for 40 cycle:197.4489041746044
Test set Mean Squared Error for 41 cycle:181.46368943171427
Test set Mean Squared Error for 42 cycle:176.45360449743683
Test set Mean Squared Error for 43 cycle:216.84011569653973
Test set Mean Squared Error for 44 cycle:187.5370692389174
Test set Mean Squared Error for 45 cycle:179.18235381670303
Test set Mean Squared Error for 46 cycle:215.01357202754707
Test set Mean Squared Error for 47 cycle:261.5203974397256
Test set Mean Squared Error for 48 cycle:174.2102498379531
Test set Mean Squared Error for 49 cycle:251.7934510574898
Test set Mean Squared Error for 50 cycle:208.01911370200716

In [22]:
print('The PART-C Mean squared error between the predicted concrete strength and the actual concrete strength: ',np.mean(MSE_C))
print('The PART-C Standard Deviation between the predicted concrete strength and the actual concrete strength: ',np.std(MSE_C))

The PART-C Mean squared error between the predicted concrete strength and the actual concrete strength:  221.86012018576082
The PART-C Standard Deviation between the predicted concrete strength and the actual concrete strength:  34.990834979253016

In [36]:
print('The difference between the mean squared errors of Part C from Part B: ',abs(np.mean(MSE_C)-np.mean(MSE_B)))

The difference between the mean squared errors of Part C from Part B:  441.51291285744435

# Part D

Increase the number of hidden layers

- Repeat part B but use a neural network with the following instead:

- Three hidden layers, each of 10 nodes and ReLU activation function.

- How does the mean of the mean squared errors compare to that from Step B?

In [24]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [28]:
MSE_D=[]

for i in range(50):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm,target, test_size=0.30)
    model = regression_model()
    
    model.fit(X_train, y_train, validation_split=0.3, epochs=50, verbose=0)

    pred= model.predict(X_test)
    MSE_D.append(metrics.mean_squared_error(y_test,pred))
    
    print("Test set Mean Squared Error for {} cycle:{}".format(i+1,metrics.mean_squared_error(y_test,pred)))

Test set Mean Squared Error for 1 cycle:166.67113412818594
Test set Mean Squared Error for 2 cycle:146.18750671885843
Test set Mean Squared Error for 3 cycle:167.2172758458419
Test set Mean Squared Error for 4 cycle:158.26252326237775
Test set Mean Squared Error for 5 cycle:126.56852585669355
Test set Mean Squared Error for 6 cycle:169.94875823255273
Test set Mean Squared Error for 7 cycle:157.29636272833483
Test set Mean Squared Error for 8 cycle:122.68382739457478
Test set Mean Squared Error for 9 cycle:163.02488300537482
Test set Mean Squared Error for 10 cycle:175.7404830118708
Test set Mean Squared Error for 11 cycle:165.7521488474283
Test set Mean Squared Error for 12 cycle:143.75100740169245
Test set Mean Squared Error for 13 cycle:186.765232456102
Test set Mean Squared Error for 14 cycle:144.0834513041335
Test set Mean Squared Error for 15 cycle:164.02844639852285
Test set Mean Squared Error for 16 cycle:140.4695591941863
Test set Mean Squared Error for 17 cycle:145.32181004147407
Test set Mean Squared Error for 18 cycle:173.54064116454833
Test set Mean Squared Error for 19 cycle:137.57198018834862
Test set Mean Squared Error for 20 cycle:145.42436637312133
Test set Mean Squared Error for 21 cycle:144.57291271574346
Test set Mean Squared Error for 22 cycle:152.49837311464506
Test set Mean Squared Error for 23 cycle:132.43594691193925
Test set Mean Squared Error for 24 cycle:136.7747090495794
Test set Mean Squared Error for 25 cycle:139.73569174818866
Test set Mean Squared Error for 26 cycle:171.77161888113386
Test set Mean Squared Error for 27 cycle:148.9047585271895
Test set Mean Squared Error for 28 cycle:134.19398855694735
Test set Mean Squared Error for 29 cycle:168.55469934546923
Test set Mean Squared Error for 30 cycle:149.52645178164641
Test set Mean Squared Error for 31 cycle:129.94829218207545
Test set Mean Squared Error for 32 cycle:135.62746882719946
Test set Mean Squared Error for 33 cycle:173.0201393124904
Test set Mean Squared Error for 34 cycle:142.69666490750026
Test set Mean Squared Error for 35 cycle:177.8785475325583
Test set Mean Squared Error for 36 cycle:150.83599017501
Test set Mean Squared Error for 37 cycle:144.13710106525664
Test set Mean Squared Error for 38 cycle:157.39846260925532
Test set Mean Squared Error for 39 cycle:170.03561419389428
Test set Mean Squared Error for 40 cycle:122.40688228316361
Test set Mean Squared Error for 41 cycle:124.15656984925332
Test set Mean Squared Error for 42 cycle:143.54944014641913
Test set Mean Squared Error for 43 cycle:138.14283158983244
Test set Mean Squared Error for 44 cycle:137.89833866052555
Test set Mean Squared Error for 45 cycle:131.42574967812118
Test set Mean Squared Error for 46 cycle:135.8866242633014
Test set Mean Squared Error for 47 cycle:150.3557944530366
Test set Mean Squared Error for 48 cycle:134.8588455595445
Test set Mean Squared Error for 49 cycle:145.29538413235957
Test set Mean Squared Error for 50 cycle:133.64315873307896

In [38]:
print('The PART-C Mean squared error between the predicted concrete strength and the actual concrete strength: ',np.mean(MSE_D))
print('The PART-C Standard Deviation between the predicted concrete strength and the actual concrete strength: ',np.std(MSE_D))

The PART-C Mean squared error between the predicted concrete strength and the actual concrete strength:  149.16953948681163
The PART-C Standard Deviation between the predicted concrete strength and the actual concrete strength:  16.055992369747763

In [40]:
print('The difference between the mean squared errors of Part D from Part B: ',abs(np.mean(MSE_D)-np.mean(MSE_B)))

The difference between the mean squared errors of Part D from Part B:  514.2034935563936

In [65]:
df=pd.DataFrame(columns=['Mean Squared Error','Standard Deviation'],index=['PART A','PART B','PART C','PART D',],data=[[np.mean(MSE_A),np.std(MSE_A)],[np.mean(MSE_B),np.std(MSE_B)],[np.mean(MSE_C),np.std(MSE_C)],[np.mean(MSE_D),np.std(MSE_D)]])

In [66]:
df.round(3)

        Mean Squared Error  Standard Deviation
PART A             509.472             634.959
PART B             663.373             152.863
PART C             221.860              34.991
PART D             149.170              16.056